html {
	font-family: 'Roboto', sans-serif;;
}

h1 {
	text-align: center;
}

.masthead {
	background-color: #cbcbcb;
}

.masthead p, .masthead h2, .grid-3 {
	background-color: #e2e2e2;
}

.grid-2 {
  background-color: #efefef;
}

.nav a {
	display: block;
	color: #297ccc;
	text-decoration: none;
}

a {
  text-decoration: none;
  color: #297ccc;
}

.masthead .nav a:hover {
	background-color: #297ccc;
	color: #fff;
}

.main {
	background-color: #eeeeee;
}

.details {
	background-color: #e2e2e2;
	}

.footer {
	background-color: #cbcbcb;
}



@media only screen and (min-width: 25em) {

	.masthead .nav {
		text-align: center;
	}

	.nav li{
		display: inline-block;
	}

}

@media only screen and (min-width: 38em) {

	h1, .nav {
		text-align: left;
	}

}
